//RESET
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
*:focus {
  outline: none;
}
button {
  border: none;
  width: max-content;
  padding: 1em;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 1em;
}
input,
textarea {
  background-color: var(--color-dark);
  border: none;
  border-radius: 1em;
  color: var(--color-light);
  padding: 1em;
  resize: none;
}
//BOXES
.App {
  height: 100vh;
  max-width: 100vw;
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-light);
  padding: 4em;
}
