.contact {
  &__content {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      align-self: flex-start;
      width: 25%;
      filter: var(--filter);
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2em;
  }
  &__input {
    display: flex;
    justify-content: space-between;
    input,
    textarea {
      width: 70%;
    }
    #message {
      height: 10em;
    }
  }
  button {
    align-self: end;
    &:hover {
      box-shadow: 0 0 1em 0.25em var(--color-dark);
    }
  }
}
