.experience {
  height: 40%;
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin: auto;
  }
  &__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    hr {
      width: 25%;
    }
    .date {
      width: 20%;
    }
  }
  &__name {
    width: 55%;
    text-align: start;
  }
}
