nav {
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100%;
  padding: 1em 4em;
  box-shadow: 0 0 1em 0.05em var(--color-dark);
  background-color: var(--color-light);
  ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 0.05em var(--color-dark);
      width: 3em;
      height: 3em;
      border-radius: 50%;
      &:hover {
        box-shadow: 0 0 1em 0.05em var(--color-dark);
      }
      .fa-solid {
        color: var(--color-dark);
        cursor: pointer;
      }
    }
  }
}
