.skills {
  height: 60%;
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 2em;
  }
  &__element {
    border-radius: 50%;
    border: solid 0.25em var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    transition: width 250ms, height 250ms;
    img {
      width: 100%;
      background-clip: var(--color-dark);
      filter: var(--filter);
    }
    &:hover {
      box-shadow: 0 0 1em 0.05em var(--color-dark);
    }
  }
}
