@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.lobby {
  --background: url("../images/BackgroundLight.png") ;
}

.dark {
  --background: url("../images/BackgroundDark.png") ;
}

:root {
  --color-dark: #323232;
  --color-light: #d9d9d9;
  --filter: invert(20%) sepia(0%) saturate(1068%) hue-rotate(162deg)
    brightness(87%) contrast(92%);
}

.dark {
  --color-dark: #d9d9d9;
  --color-light: #323232;
  --filter: invert(94%) sepia(0%) saturate(1331%) hue-rotate(200deg)
    brightness(84%) contrast(118%);
}

@keyframes slideIn {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.OhMyFood.animation {
  animation: slideIn 250ms forwards;
}

.Kasa.animation {
  animation: slideIn 250ms 250ms forwards;
}

.ArgentBank.animation {
  animation: slideIn 250ms 500ms forwards;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*:focus {
  outline: none;
}

button {
  border: none;
  width: max-content;
  padding: 1em;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 1em;
}

input,
textarea {
  background-color: var(--color-dark);
  border: none;
  border-radius: 1em;
  color: var(--color-light);
  padding: 1em;
  resize: none;
}

.app {
  height: 100vh;
  max-width: 100vw;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--color-light);
  padding: 4em;
}

* {
  font-family: "Lato";
  letter-spacing: 2px;
  line-height: 36px;
  font-weight: 500;
  color: var(--color-dark);
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

p,
label {
  font-size: 24px;
}

.date {
  font-size: 18px;
  font-style: italic;
}

.tag {
  font-size: 12px;
  text-transform: uppercase;
}

.lobby {
  background-image: var(--background);
  background-size: contain;
  justify-content: center;
}
.lobby__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.lobby__content img {
  width: 25%;
  border-radius: 50%;
  box-shadow: 0 0 1em 0.25em var(--color-dark);
  border: solid 0.25em var(--color-dark);
}
.lobby__content span {
  font-size: 24px;
  opacity: 0.5;
}
.lobby__content h2 {
  font-style: italic;
  font-size: 28px;
}

.work__list {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75%;
}
.work__element {
  width: 30%;
  box-shadow: 0 0 1em 0.25em var(--color-dark);
  display: flex;
  border-radius: 1em;
  transform: translateY(150%);
  opacity: 0;
}
.work__element a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.work__element a img {
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  object-fit: fill;
  transition: opacity 250ms;
}
.work__element a img:hover {
  opacity: 0.05;
}
.work__details {
  position: absolute;
  border-radius: 1em;
  padding: 2em;
  background-color: #323232;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work__details h3 {
  color: #d9d9d9;
  font-size: 46px;
  text-shadow: 0 0 0.5em #d9d9d9;
}
.work__details p {
  color: #d9d9d9;
  text-shadow: 0 0 0.5em #d9d9d9;
}
.work__tagsList {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.work .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  background-color: #d9d9d9;
  color: #323232;
  padding: 0 0.25em;
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em #d9d9d9;
}

.dark .work img {
  filter: brightness(50%);
}

.experience {
  height: 40%;
}
.experience__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4em;
  margin: auto;
}
.experience__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.experience__element hr {
  width: 25%;
}
.experience__element .date {
  width: 20%;
}
.experience__name {
  width: 55%;
  text-align: start;
}

.skills {
  height: 60%;
}
.skills__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 2em;
}
.skills__element {
  border-radius: 50%;
  border: solid 0.25em var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5%;
  transition: width 250ms, height 250ms;
}
.skills__element img {
  width: 100%;
  background-clip: var(--color-dark);
  filter: var(--filter);
}
.skills__element:hover {
  box-shadow: 0 0 1em 0.05em var(--color-dark);
}

nav {
  display: flex;
  position: fixed;
  align-items: center;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 10%;
  padding: 1em 4em;
  box-shadow: 0 0 1em 0.05em var(--color-dark);
  background-color: var(--color-light);
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.05em var(--color-dark);
  width: 5em;
  height: 5em;
  border-radius: 50%;
}
nav ul li:hover {
  box-shadow: 0 0 1em 0.05em var(--color-dark);
}
nav ul li .fa-solid {
  font-size: 46px;
  color: var(--color-dark);
  cursor: pointer;
}

.contact__content {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact__content img {
  align-self: flex-start;
  width: 25%;
  filter: var(--filter);
}
.contact__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2em;
}
.contact__input {
  display: flex;
  justify-content: space-between;
}
.contact__input input,
.contact__input textarea {
  width: 70%;
}
.contact__input #message {
  height: 10em;
}
.contact button {
  align-self: end;
}
.contact button:hover {
  box-shadow: 0 0 1em 0.25em var(--color-dark);
}

@media screen and (max-width: 1080px) {
  section {
    padding: 2em;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  p,
  label {
    font-size: 12px;
  }
  .date {
    font-size: 10px;
    font-style: italic;
  }
  .tag {
    font-size: 10px;
    text-transform: uppercase;
  }
  nav ul li .fa-solid {
    font-size: 32px;
  }
  .lobby__content h2 {
    font-size: 16px;
  }
  .lobby__content img {
    width: 35%;
  }
  .work__list {
    flex-direction: column;
  }
  .work__element {
    width: 100%;
    height: 30%;
  }
  .work__element img {
    display: none;
  }
  .work__details {
    padding: 1em;
    opacity: 0.95;
  }
  .work h3 {
    font-size: 24px;
  }
  .experience__list {
    gap: 2em;
  }
  .experience__element {
    flex-direction: column;
    align-items: unset;
  }
  .experience__element .date {
    width: 100%;
    text-align: end;
  }
  .experience__name {
    width: 100%;
  }
  .skills__list {
    margin: 0;
    height: 75%;
    flex-wrap: wrap;
    gap: 1;
  }
  .skills__element {
    padding: 0.5em;
    width: 25%;
    border: solid 0.1em var(--color-dark);
  }
  .skills__element img {
    width: 50%;
  }
  .contact__content {
    height: 80%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
  }
  .contact__content img {
    display: none;
  }
  .contact__form {
    width: 100%;
    gap: 1em;
  }
  .contact__input {
    text-align: start;
    flex-direction: column;
  }
  .contact__input input,
  .contact__input textarea {
    width: 100%;
  }
  .contact button {
    align-self: center;
  }
}
@media screen and (max-width: 600px) {
  .tag {
    font-size: 8px;
    text-transform: uppercase;
  }
  nav ul li {
    width: 2.5em;
    height: 2.5em;
  }
  nav ul li .fa-solid {
    font-size: 20px;
  }
  .skills__element img {
    width: 75%;
  }
}

/*# sourceMappingURL=style.css.map */
